<!-- <h1>{{user.username}} Details</h1> -->
<div class="container">
<table  class="table table-hover">
    <tr>
        <th>Information</th>
        <th>User Data</th>
    </tr>
    <tr>
        <td>UserId:</td>
        <td>{{user.userId}}</td>
    </tr>
   
    <tr>
            <td>Username:</td>
            <td>{{user.username}}</td>
    </tr>
        <tr>
                <td>First Name:</td>
                <td> {{user.firstName}}</td>
            </tr>
            <tr>
                    <td>Last Name:</td>
                    <td>{{user.lastName}}</td>
                </tr>
                <tr>
                        <td>Date of Birth:</td>
                        <td>{{user.dateOfBirth}}</td>
                    </tr>
                    <tr>
                            <td>Address:</td>
                            <td>{{user.userAddress}}</td>
                        </tr>
                        <tr>
                                <td>Phone Number:</td>
                                <td> {{user.phoneNumber}}</td>
                            </tr>

                            <tr>
                                    <td>Email Address:</td>
                                    <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                    <td>Admin user:</td>
                                    <td>{{user.levelPermission}}</td>
                            </tr>
    
</table>
</div>
